:root {
  --primary-color: #36305c;
  --secondary-color-medium: #8272db;
  --secondary-color-dark: #4e4b5c;
  --accent-color-medium: #6458a8;
  --accent-color-light: #bfb9e1;
}

/*Universal*/

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--accent-color-light);
  padding: 25px;
}

/*Header*/

header {
  margin: 25px auto;
  padding: 0 0 50px 0;
}

h1 {
  display: inline;
  color: var(--primary-color);
  font-size: 225%;
}

nav {
  display: flex;
  position: relative;
  float: right;
  justify-content: space-evenly;
  top: -5px;
}

nav p {
  display: flex;
  font-size: 112%;
  padding: 0 0 0 50px;
}

nav p a {
  display: inline;
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary-color-dark);
}

nav a:hover {
  color: var(--accent-color-medium);
  text-decoration: underline;
}

/*Main*/

h2,
h3,
p {
  text-align: center;
}

h2 {
  color: var(--primary-color);
  font-size: 200%;
}

h3 {
  color: var(--secondary-color-dark);
  font-size: 150%;
  padding-bottom: 25px;
}

p {
  color: var(--secondary-color-dark);
}

img {
  border-radius: 5px;
}

#about-us {
  background-image: url(./pexels-dani-hart-3719037.jpg);
  background-size: cover;
  padding: 300px 0;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-us h2,
#about-us h3 {
  background-color: var(--accent-color-light);
  border-radius: 5px;
  margin: 0 auto;
  padding: 15px;
}

.testimonials,
.team {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.testimonial img {
  max-height: 300px;
  max-width: 300px;
}

.team img {
  max-height: 250px;
  max-width: 300px;
}

#about-us,
#success-stories,
#team-container {
  padding-top: 50px;
}

/*Footer*/

footer {
  padding: 50px 0 0 0;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: var(--accent-color-medium);
  display: inline;
}

footer a:hover {
  text-decoration: underline;
  color: var(--secondary-color-dark);
}

.copyright p {
  text-align: left;
}
